<!-- shop/templates/shop/flower_detail.html -->
{% extends 'shop/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="product-details">
        <img src="{{ flower.image.url }}" alt="{{ flower.name }} class="product-image">
        <div class="product-info">
            <h2 class="product-title">{{ flower.name }}</h2>
            <p class="product-price">Цена: {{ flower.price }} Руб</p>
            <p class="product-description">Описание: {{ flower.description }}</p>
        </div>
        <div class="button-container">
            <button class="add-to-cart">Добавить в корзину</button>
            <button class="quick-buy">Быстрая покупка</button>
        </div>
    </div>
{% endblock %}

